//Base
@import "base/all";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//Utils
@import "utils/all";

//Layout
@import "layout/all";

//Components
@import "components/all";

//Page specific styles
@import "pages/all";

//Themes
@import "themes/all";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */

