//Grid
$container-large-desktop: 1200px;

//Colors
$gray-darker: #25292b;
$gray-light: #dedede;
$gray-lighter: #aaabab;

$brand-danger: #be2025;

//Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$link-color: $brand-danger;
