.article-preview {
  @include clearfix;

  &__image {
    float: left;
    @include square(72px);

    overflow: hidden;

    margin-right: 17px;
  }

  &__body {
    float: left;

    @media (min-width: $screen-md-min) {
      width: 364px;
    }

    @media (min-width: $screen-lg-desktop) {
      width: 465px;
    }
  }

  &__heading {
    font-size: 30px;

    margin: 0 0 20px;
  }

  &__intro {
    font-size: 18px;
    line-height: 1;
  }

  &__link {
    margin-top: 107px;

    clear: both;

    .btn {
      margin: 0;
    }
  }
}
