.breadcrumbs-list {
  margin: 48px 0 32px;

  &__item {
    display: inline-block;

    &:after {
      content: ' —';
    }

    &:last-child{
      &:after {
        content: '';
      }
    }
  }

  &__link {
    font-size: 14px;

    &_active {
      color: $gray-dark;
      pointer-events: none;
    }
  }
}
