.btn {
  border-width: 2px;

  &:last-child {
    margin-right: 0;
  }

  &_lg {
    @include button-size(16px, 22px, 16px, 1, 2px);

    margin: 0 5px;
  }

  &_full {
    width: 100%;

    margin: 0;
  }

  &_danger {
    @include button-variant($body-bg, $brand-danger, $brand-danger);
  }

  &_prime {
    @include button-variant($brand-danger, $body-bg, $brand-danger);
  }

  &_arrow {
    position: relative;
    padding-right: 47px;

    &:after {
      content: '';

      display: block;
      position: absolute;

      height: 10px;

      right: 32px;
      top: 50%;

      margin-top: -5px;

      border-left: 6px solid $body-bg;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;

      transform: translateX(0);
      transition: transform 0.25s ease;
    }

    &:hover {

      &:after {
        transform: translateX(5px);
      }
    }

    &_close {

      &:after {
        right: 100px;
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;

    margin-right: 10px;

    &_demo {
      background-image: url($image-path + "accounts/demo-account.png");

      @include size(13px, 16px);
    }

    &_live {
      background-image: url($image-path + "accounts/live-account.png");

      @include square(16px);
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: $screen-sm){
  .btn {
    &_block {
      display: block;
      width: 100%;

      & + & {
        margin-top: 5px;
      }
    }
  }
}
