.footer-navigation {
  margin: 20px 0;

  &__item {
    text-align: center;

    display: block;

    margin: 0 0 1em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $body-bg;

    font-size: 1.25em;
    text-decoration: underline;

    &:hover {
      color: darken($body-bg, 15%);
    }
  }
}

@media (min-width: $screen-sm-min){
  .footer-navigation {
    &__item {
      display: inline-block;

      margin: 0 16px 0 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-size: 14px;
    }
  }
}
