.form-header {
  margin: 10px 0 34px;
  padding: 0;

  &__item {
    font-size: 18px;

    display: inline-block;
    position: relative;

    margin-right: 43px;

    &:after {
      content: '';

      position: absolute;
      display: block;

      height: 10px;

      top: 50%;
      right: -28px;

      margin-top: -5px;

      border-left: 6px solid $brand-danger;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &_active {
      font-weight: 700;

      padding-bottom: 3px;

      border-bottom: 2px solid $brand-danger;
    }
  }
}

.form-group {
  margin-bottom: 20px;
}

.form_control {
  background-color: #F6F6F6;

  width: 100%;
  height: 40px;

  padding: 0 16px;

  border: none;

  &:focus {
    outline: none;
  }
}

.form-control-group {
  .form_control {
    width: 32%;

    padding: 0 10px;
  }
}

textarea.form_control {
  padding-top: 1em;
  padding-bottom: 1em;
}

.form-horizontal {

  .control-label {
    font-size: 18px;
    font-weight: normal;
    text-align: left;

    padding-right: 0;

    &_required {
      &:after {
        content: '*';

        color: $brand-danger;

        position: absolute;
      }
    }
  }
}
