.iconed-text {

  &:hover {
    text-decoration: none;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;

    &_sprite {
      background-image: url($image-path + "icon-sprite.png");

      width: 16px;
      height: 16px;

      &_forex {
        background-position: -30px 0;
      }

      &_metals {
        background-position: -30px -34px;
      }

      &_cfd {
        background-position: -30px -69px;
      }

      &_indi {
        background-position: -30px -100px;
      }

      &_energy {
        background-position: -30px -135px;
      }

      &_account {
        background-position: 0 0;
      }

      &_bank {
        background-position: 0 -30px;
      }

      &_funds {
        background-position: 0 -68px;
      }

      &_platform {
        background-position: 0 -101px;
      }

      &_educ {
        background-position: 0 -134px;
      }
    }

    &_globe {
      background-image: url($image-path + "globe.png");

      @include square(16px);
    }

    &_us-flag {
      background-image: url($image-path + "us-flag.png");

      width: 16px;
      height: 11px;
    }

    &_pdf {
      background-image: url($image-path + "pdf.png");

      @include size(18px, 19px);
    }

    &_big-demo {
      background-image: url($image-path + "big-demo.png");

      @include size(26px, 32px);
    }

    &_live-big {
      background-image: url($image-path + "live-big.png");

      @include square(32px);
    }
  }

  &__text {
    //display: inline-block;
    vertical-align: middle;
  }
}
