.info-block {
  background-color: rgba($body-bg, 0.5);

  position: relative;

  width: 100%;
  min-height: 272px;

  margin: 30px 0;
  padding: 25px;

  border-radius: 2px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  &__header {
    margin: 0 0 22px 0;
  }

  &__body {
    font-size: 16px;

    p {
      font-size: inherit;
    }

    time {
      font-family: 'Roboto', sans-serif;
      line-height: 1;

      display: block;

      margin-top: 14px;
    }
  }

  &__footer {
    font-size: 18px;

    position: absolute;

    bottom: 30px;
  }
}
