.link-group {
  background-color: $brand-danger;

  width: 100%;
  height: 100%;

  padding: 10px 20px;

  &__link {
    background-color: $brand-danger;

    text-indent: -9999px;

    position: relative;
    display: block;
    float: left;

    width: 33%;
    height: 100%;

    border-right: 1px solid #cb4d51;
    border-radius: 2px;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: darken($brand-danger, 15%);
    }

    &:before {
      content: '';

      background-image: url($image-path + "link-group-sprite.png");
      background-repeat: no-repeat;

      display: block;
      position: absolute;

      @include square(32px);

      left: 50%;
      top: 50%;

      margin: -16px 0 0 -16px;
    }

    &_desktop {
      &:before {
        background-position: left center;
      }
    }

    &_apple {
      &:before {
        background-position: -33px center;
      }
    }

    &_android {
      &:before {
        background-position: right center;
      }
    }
  }
}
