.list-default {
  list-style: none;

  margin: 0;
  padding: 0;



  &__item {
    font-size: 18px;

    position: relative;

    margin-bottom: 20px;
    padding-left: 20px;

    &:before {
      content: '';

      background-image: url($image-path + "list-bullet.png");

      display: block;
      position: absolute;

      @include square(7px);

      left: 0;
      top: 10px;
    }

  }
}
