.main-navigation {
  &__item {
    background-color: $brand-danger;

    line-height: 1;

    display: inline-block;

    padding: 20px 31px;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &:hover {
      background-color: $body-bg;

      > a {
        color: $gray-darker;

        &:after {
          border-bottom: 7px solid $gray-darker;
          border-top: none;
        }
      }

      .submenu {
        display: block;
      }
    }

    > a {
      color: $body-bg;

      font-size: 18px;
      text-transform: uppercase;

      position: relative;

      &:after {
        content: '';

        display: block;
        position: absolute;

        top: 50%;
        right: -14px;

        width: 7px;

        margin-top: -2px;

        border-top: 7px solid $body-bg;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.submenu {
  background-color: $body-bg;

  display: none;

  position: absolute;

  top: 60px;
  left: 0;
  right: 0;

  z-index: 1000;

  box-shadow: 0 2px 2px -2px black;
}

.submenu-list {
  width: $container-large-desktop;

  margin: 30px auto;

  &__item {
    display: inline-block;

    margin:0 25px 15px 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 20px;

      &:hover {
        color: $gray-darker;
      }
    }
  }
}
