.ol-default {
  list-style: none;

  margin: 0;
  padding: 0;

  counter-reset: ol-counter;

  &__item {
    font-size: 18px;

    position: relative;

    margin-bottom: 20px;
    padding-left: 30px;

    counter-increment: ol-counter;

    &:before {
      content: counter(ol-counter);

      font-size: 14px;
      text-align: center;

      color: $body-bg;
      background-color: $gray-darker;

      display: block;
      position: absolute;

      left: 0;
      top: 3px;

      @include square(21px);

      border-radius: 50%;

    }

  }
}

//Resets ol counter and sets it to parent element
.resetter {

  &_ol {
    counter-reset: ol-counter;

    .ol-default {
      counter-reset: none;
    }
  }
}
