.partners-list {

  &__item {
    display: inline-block;
    overflow: hidden;

    margin-right: 6px;

    padding-left: 0;
    padding-right: 0;

    border-radius: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
}
