.promo-numbers {
  margin: 2em 0 0;
}

.promo-numbers-list {
  margin-bottom: 0;

  &__item {
    text-align: center;

    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.numbered-text {

  &__number {
    font-size: 48px;
    line-height: 34px;
    text-transform: uppercase;

    display: block;
  }

  &__text {
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;

    display: block;

    margin-top: 0.5em;
  }
}

@media (min-width: $screen-sm-min) {
  .promo-numbers {
    margin: 50px 0 0;
  }

  .promo-numbers-list {
    margin-bottom: 0;

    &__item {
      float: left;

      margin: 0 35px 2em 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .numbered-text {

    &__number {
      display: inline-block;
      vertical-align: top;

      margin-right: 5px;
    }

    &__text {
      display: inline-block;
      vertical-align: top;

      margin-top: 0;
    }
  }
}
