.promo-block {
  background-color: $body-bg;

  position: relative;

  width: 100%;
  min-height: 365px;

  margin: 43px 0;

  border-radius: 2px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  &__header {
    @media (max-width: $screen-md-max) {
      font-size: 22px;
    }

    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;

    margin: 0;
    padding: 30px;

    border-bottom: 2px solid #e9e9e9;
  }

  &__body {
    font-size: 16px;

    padding: 30px 30px 0;
  }

  &__footer {
    position: absolute;
    overflow: hidden;

    left: 0;
    bottom: 0;

    width: 100%;
    min-height: 72px;
    height: 72px;

    border-radius: 2px;

    > a {
      color: $body-bg;
      background-color: $brand-danger;

      font-size: 22px;
      line-height: 70px;
      text-transform: uppercase;
      text-align: center;

      display: block;

      width: 100%;
      height: 100%;

      &:hover {
        background-color: darken($brand-danger, 15%);
      }
    }

  }
}
