.promo-list {
  margin-bottom: 0px;

  &__item {
    @media (max-width: $screen-sm){
      font-size: 15px;
    }

    line-height: 1;

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
