.progressing {
  padding: 21px 0;

  &__header {
    margin: 0 0 13px;
    padding: 0 20px;
  }

  &__progress-bar {
    background-color: $body-bg;

    width: 100%;
    height: 10px;
    padding: 2px;

    border-radius: 2px;

    &_inner {
      height: 100%;
      background-color: $gray-light;
    }
  }
}
