.radio {
  min-height: 0;

  margin-top: 0;
  margin-bottom: 0;

  label {
    position: relative;

    padding-left: 30px;

    &:before {
      content: '';

      background-image: url($image-path + "radio.png");
      background-position: center bottom;

      display: block;
      position: absolute;

      left: 0;
      top: 50%;

      @include square(24px);

      margin-top: -12px;
    }
  }

  input {
    &:checked {
      + label {

        &:before {
          background-position: center top;
        }
      }
    }
  }
}
