.search-block {
  background-color: $body-bg;

  position: relative;
  overflow: hidden;

  width: 270px;
  height: 40px;

  margin: 1em 0;

  border-radius: 2px;

  &__input {
    line-height: 40px;

    width: 270px;
    height: 40px;

    padding: 0 40px 0 14px;

    border: none;

    &:focus {
      outline: none;
    }
  }

  &__magnifier {
    background-image: url($image-path + "magnifier.png");
    background-color: transparent;
    background-repeat: no-repeat;

    position: absolute;

    @include square(17px);

    right: 15px;
    top: 50%;

    margin-top: -9px;

    border: none;
  }
}

@media (min-width: $screen-sm-min){
  .search-block {
    float: right;

    margin: auto;
  }
}
