.site-logo {
  text-align: center;

  &__image {
    display: inline-block;
  }

  &__slogan {
    display: inline-block;

    vertical-align: top;

    margin-left: 13px;
    margin-top: 12px;
  }
}

.slogan-item {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  display: inline-block;
  position: relative;

  margin-right: 17px;
  padding-left: 12px;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    content: '';

    position: absolute;
    display: block;

    height: 10px;
    left: 0;
    top: 50%;

    margin-top: -6px;

    border-left: 7px solid #be2025;
    border-top: 6px transparent solid;
    border-bottom: 6px transparent solid;


  }
}

@media (min-width: $screen-md-min){
  .site-logo {
    text-align: left;
  }
}
