.social-icons {
  display: inline-block;

  margin-bottom: 1em;

  &__icon {
    background-position: center center;
    background-repeat: no-repeat;

    display: inline-block;

    @include square(20px);

    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      @include square(20px);
    }

    &_twitter {
      background-image: url($image-path + "social-icons/icon-twitter.png");
    }
    &_youtube {
      background-image: url($image-path + "social-icons/icon-youtube.png");
    }
    &_linkedin {
      background-image: url($image-path + "social-icons/icon-linkedin.png");
    }
    &_google {
      background-image: url($image-path + "social-icons/icon-google.png");
    }
    &_facebook {
      background-image: url($image-path + "social-icons/icon-facebook.png");
    }
    &_pinterest {
      background-image: url($image-path + "social-icons/icon-pinterest.png");
    }
  }
}

@media (min-width: $screen-sm-min) {
  .social-icons {
    margin: 0 48px 0 0;
  }
}
