.table-default {
  width: 100%;

  > thead {
    > tr {
      background-color: $gray-darker;

      > th {
        color: $body-bg;

        font-size: 16px;

        padding: 12px 29px 10px;
      }
    }
  }

  > tbody {
    > tr {
      &:nth-child(odd){
        background-color: #fcfcfc;
      }

      > td {
        color: #333333;

        font-size: 16px;

        padding: 12px 29px 10px;

        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;

        &:first-child {
          border-left: 1px solid #dddddd;
        }

        &:last-child {
          border-right: 1px solid #dddddd;
        }

      }
    }
  }
}
