.global-page {
  background-image: url($image-path + "global-bg.jpg");
  background-position: center top;

  @include size(100%, 100%);

  min-height: 100vh;
  min-width: 1200px;
}

.global-logo {
  @include size(294px, 128px);

  margin: 73px auto 0;
}

.global-title {
  color: #FEFFFF;

  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  margin: 210px 0 100px;
}

.region-content {
  .global-tabs {
    position: relative;

    width: 765px;

    margin: 0 auto;

    > .menu {
      @include clearfix;

      list-style: none;

      width: 100%;

      margin: 0;
      padding: 0;

      > li {
        background-image: url($image-path + "tab-head-bg.png");

        float: left;

        padding: 25px 17px;

        &:hover,
        &.expanded {
          background-image: url($image-path + "tab-body-bg.png");

          > span {
            color: $gray-darker;
          }

          > .menu {
            display: block;
          }
        }

        &.expanded {

        }

        > span {
          color: #FFF;

          font-size: 18px;
          text-transform: uppercase;
        }

        > .menu {
          @include clearfix;

          list-style: none;

          background-image: url($image-path + "tab-body-bg.png");

          position: absolute;
          display: none;

          left: 0;
          right: 1px;
          top: 75px;

          margin: 0;
          padding: 20px 30px 0;

          .leaf {
            line-height: 34px;

            float: left;

            min-width: 155px;
            height: 34px;

            margin-right: 15px;
            margin-bottom: 20px;
            padding-right: 15px;

            border-right: 1px solid black;

            &.ch {
              a {
                &:before {
                  background-position: 0 0;
                }
              }
            }

            &.in {
              a {
                &:before {
                  background-position: 0 -13px;
                }
              }
            }

            &.tu {
              a {
                &:before {
                  background-position: 0 -26px;
                }
              }
            }

            &.ma {
              a {
                &:before {
                  background-position: 0 -39px;
                }
              }
            }

            &.uk {
              a {
                &:before {
                  background-position: 0 -52px;
                }
              }
            }

            &.ru {
              a {
                &:before {
                  background-position: 0 -65px;
                }
              }
            }

            &.eu {
              a {
                &:before {
                  background-position: 0 -78px;
                }
              }
            }

            &.ta {
              a {
                &:before {
                  background-position: 0 -91px;
                }
              }
            }

            &.hi {
              a {
                &:before {
                  background-position: 0 -104px;
                }
              }
            }

            &.au {
              a {
                &:before {
                  background-position: 0 -117px;
                }
              }
            }

            &.nz {
              a {
                &:before {
                  background-position: 0 -130px;
                }
              }
            }

            &.us {
              a {
                &:before {
                  background-position: 0 -143px;
                }
              }
            }

            a {
              position: relative;

              padding-left: 21px;

              &:before {
                content: '';

                background-image: url($image-path + "flag-icons.png");

                position: absolute;

                left: 0;
                top: 50%;

                margin-top: -6px;

                @include size(16px, 11px);
              }
            }

            &:last-child {
              margin-right: 0;

              border-right: none;
            }

            a {
              color: $gray-darker;

              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
