.articles-preview {
  @include make-row();

  margin-top: 48px;

  &__item {
    @include make-lg-column(6);

    margin-bottom: 50px;
  }
}


@media (min-width: $screen-sm-min){

  .articles-preview {

    &__item {
      display: inline-block;

      vertical-align: top;
    }
  }
}
