body {
  font-family: $font-family-sans-serif;
}

h2,
.h2{
  font-size: 30px;

  margin: 45px 0 30px;
}

h3,
.h3 {
  font-size: 18px;
  font-weight: 700;

  margin: 30px 0 22px;
}

a {
  color: $brand-danger;

  &:hover,
  &:focus{
    color: lighten($brand-danger, 15%);
  }
}

p {
  color: $gray-darker;

  font-size: 18px;
}

textarea {
  min-height: 100px;

}

hr {
  background-color: $gray-lighter;

  height: 1px;

  border-top: none;

  opacity: 0.5;

}


