.footer-utilities {
  background-color: $gray-darker;

  width: 100%;

  padding: 30px 0;

  p {
    color: $gray-lighter;

    font-size: 12px;

    margin-bottom: 30px;
  }

  a {
    color: $gray-light;

    text-decoration: underline;

    &:hover {
      color: darken($gray-light, 15%);
    }
  }
}
